<%- include('./partials/header.ejs') %>
<%- include('./partials/greeting.ejs') %>
<%- include('./partials/menu.ejs') %>
<%- include('./partials/divider-dotted.ejs') %>
<p>
  The application provides functionality for summarization of responses. 
  Each user can view statistics of their reports on a weekly and monthly level. 
  These statistics are as follows.

    Average sleep duration
    Average time spent on sports and exercise
    Average time spent studying
    Average sleep quality
    Average generic mood
</p>
<%- include('./partials/footer.ejs') %>
