<%- include('./partials/header.ejs') %>
<%- include('./partials/greeting.ejs') %>
<%- include('./partials/menu.ejs') %>
<%- include('./partials/divider-dotted.ejs') %>
<div style="display: flex; flex-direction: column;">

<h3 style="margin-bottom: 5rem;">Login</h3>

<% if(loggedInUserEmail) { %>
  <h6>Already logged in as: <%= loggedInUserEmail %></h6>
  <form method="POST" action="/auth/logout">
    <input type="submit" value="Logout" />
  </form>
<% } else {%>  
  <form method="POST" action="/auth/login">
    <span>
      <label for="email">Email</label>
      <input type="email" name="email" value="<%= formData.email %>" />
    </span>

    <span>
      <label for="password">Password</label>
      <input type="password" name="password" value="<%= formData.password %>" />
    </span>
    <input type="submit" value="Submit" />

    <% if (frontendErrors && frontendErrors.length > 0) { %>
        <% frontendErrors.forEach((error) => { %>
          <p style="color:darkred; "><%= error %></p>
        <% }); %>
      <% } %>


    <div style="display: flex; flex-direction: row;">
      <h6 style="margin-right: 1rem;">Not signed up yet?</h6>
      <a href="/auth/registration">Create new account</a>
    </div>
  </form>
  <% }%>
</div>

<%- include('./partials/footer.ejs') %>