<%- include('./partials/header.ejs') %> 
<%- include('./partials/greeting.ejs')%>
<%- include('./partials/menu.ejs') %> 
<%- include('./partials/divider-dotted.ejs') %>

<div style="display: flex; flex-direction: column">
  <h3 style="margin-bottom: 5rem">Your Trends</h3>

  <div style="display: flex; flex-direction: column; align-items: baseline;">
    
    <div>
      <h6>Last week average</h6>
      <ul>
        <li>Average sleep duration <%- data.lastWeek.average_sleep_duration %></li>
        <li>Average time spent on sports and exercise: <%- data.lastWeek.average_sports_duration %></li>
        <li>Average time spent studying: <%- data.lastWeek.average_studying_duration %></li>
        <li>Average sleep quality: <%- data.lastWeek.average_sleep_quality %></li>
        <li>Average generic mood: <%- data.lastWeek.average_mood %></li>
      </ul>
    </div>

  </br>

    
    <div>
      <h6>Last Month average</h6> 
      <ul>
        <li>Average sleep duration: <%- data.lastMonth.average_sleep_duration %></li>
        <li>Average time spent on sports and exercise: <%- data.lastMonth.average_sports_duration %></li>
        <li>Average time spent studying: <%- data.lastMonth.average_studying_duration %></li>
        <li>Average sleep quality: <%- data.lastMonth.average_sleep_quality %></li>
        <li>Average generic mood: <%- data.lastMonth.average_mood %></li>
      </ul>
    </div>


  </div>
  
</div>

<%- include('./partials/footer.ejs') %>
